/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(3, 3, 61);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
